:root {
  --green: #27ae60;
  --black: #192a56;
  --light: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* ************************************ */
/* NAVIGATION */
/* ************************************ */
.header-container,
.nav-bar-items,
.nav-bar-ions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: var(--box-shadow);

  padding: 1rem 7%;
  z-index: 100;
}

.logo {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black);
}

.logo ion-icon {
  color: var(--green);
}
.nav-bar-items {
  gap: 3rem;
  list-style: none;
  text-transform: uppercase;
}

.nav-bar-ions-container {
  gap: 3rem;
}
.nav-bar-item {
  transition: all 0.3s ease-in;
}

.nav-bar-item:hover {
  background-color: var(--green);
  padding: 1rem;
  border-radius: 3px;
  color: #fff;
}

.nav-bar-link {
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 600;
}

.nav-bar-link:hover {
  color: #fff;
}

.nav-bar-ions-container ion-icon {
  cursor: pointer;
  text-align: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: #eee;
  color: var(--black);
  transition: all 0.3s ease-in;
}

.nav-bar-ions-container ion-icon:hover {
  color: #fff;
  background-color: var(--green);
  transform: translateY(-8%);
}

/* ************************************ */
/* SEARCH FORM  */
/* ************************************ */
#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1004;

  padding: 1rem 2rem;
}

#search-form.active {
  top: 0;
}

#search-form #search-input {
  outline: none;
  width: 50rem;
  padding: 1rem 0;
  border-bottom: 0.1rem solid #fff;
  background: none;
  text-transform: none;
  color: #eee;
  font-size: 4rem;
}

#search-form #search-input::placeholder {
  color: #fff;
}

#search-form ::-webkit-search-cancel-button {
}

#search-form label {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

#search-form label:hover {
  color: var(--green);
}

.form-close {
  font-size: 7rem;
  position: absolute;
  top: 0rem;
  right: 3rem;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}
