:root {
  --green: #27ae60;
  --black: #192a56;
  --light: #666;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* ************************************ */
/* NAVIGATION */
/* ************************************ */
.header-container,
.nav-bar-items,
.nav-bar-ions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: var(--box-shadow);

  padding: 1rem 7%;
  z-index: 100;
}

.logo {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--black);
}

.logo ion-icon {
  color: var(--green);
}
.nav-bar-items {
  gap: 3rem;
  list-style: none;
  text-transform: uppercase;
}

.nav-bar-ions-container {
  gap: 3rem;
}
.nav-bar-item {
  transition: all 0.3s ease-in;
}

.nav-bar-item:hover {
  background-color: var(--green);
  padding: 1rem;
  border-radius: 3px;
  color: #fff;
}

.nav-bar-link {
  color: var(--black);
  font-size: 1.8rem;
  font-weight: 600;
}

.nav-bar-link:hover {
  color: #fff;
}

.nav-bar-ions-container ion-icon {
  cursor: pointer;
  text-align: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: #eee;
  color: var(--black);
  transition: all 0.3s ease-in;
}

.nav-bar-ions-container ion-icon:hover {
  color: #fff;
  background-color: var(--green);
  transform: translateY(-8%);
}

/* ************************************ */
/* SEARCH FORM  */
/* ************************************ */
#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1004;

  padding: 1rem 2rem;
}

#search-form.active {
  top: 0;
}

#search-form #search-input {
  outline: none;
  width: 50rem;
  padding: 1rem 0;
  border-bottom: 0.1rem solid #fff;
  background: none;
  text-transform: none;
  color: #eee;
  font-size: 4rem;
}

#search-form #search-input::placeholder {
  color: #fff;
}

/* #search-form ::-webkit-search-cancel-button {
} */

#search-form label {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}

#search-form label:hover {
  color: var(--green);
}

.form-close {
  font-size: 7rem;
  position: absolute;
  top: 0rem;
  right: 3rem;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

/* ************************************ */
/* HOME SECTION */
/* ************************************ */

.wrapper {
  overflow-x: hidden;
}

.slider {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding-top: 8rem;
}

.content {
  flex: 1 1 45rem;
}

.content span {
  color: var(--green);
  font-size: 3rem;
  font-weight: 600;
}

.content h3 {
  color: var(--black);
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: -0.2;
  /* padding-top: 1rem; */
}

.content p {
  font-size: 2.2rem;
  line-height: 1.5;
  padding: 0.5rem 0;

  /* padding-top: 1rem; */
}
.swiper-image {
  width: 55%;
}

.swiper-pagination-bullet-active {
  background: var(--black);
}

/* ************************************ */
/* MEALS SECTION */
/* ************************************ */

.dishes {
  /* padding: 8rem; */
}

.sub-heading {
  font-size: 2rem;
  color: var(--green);
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
}

.heading {
  font-size: 5rem;
  color: var(--black);
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 5rem;
}

.box {
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: var(--box-shadow);
  padding: 4rem 3rem;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.box:hover {
  transform: scale(1.01, 1.01);
}

.heart,
.eye {
  position: absolute;
  font-size: 3rem;
  color: var(--black);
  width: 3rem;
  height: 3rem;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: #eee;
}

.heart {
  top: 2%;
  left: 2%;
}

.eye {
  top: 2%;
  right: 2%;
}

.heart:hover,
.eye:hover {
  background: var(--green);
  color: #fff;
  cursor: pointer;
}

.dish-img {
  width: 80%;
  height: 20rem;
}

.box:hover .heart {
  left: -100%;
}

.box:hover .eye {
  right: -100%;
}

.box h3 {
  font-size: 2.5em;
  color: var(--black);
  text-transform: capitalize;
  padding: 1rem 0;
}

.stars-rating ion-icon {
  color: var(--green);
  font-size: 2rem;
}

.box span {
  color: var(--green);
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0 1rem;
}
